!!!
%html{html_attrs}
  %head
    %link{:rel => "stylesheet", :href => "/css/screen.css", :type =>"text/css", :media => "screen"}
    %title
      The Official Elliot James Dunphy Pool
  %body
    .main
      %h1 The Official Elliot James Dunphy Pool
      .panel.top
        %h3 The guesses
        %table
          %tr
            %th Guesser
            %th Birth Date
            %th Weight
          - @guesses.each do |guess|
            %tr
              %td= guess.name
              %td= guess.birth_date.strftime('%m/%d')
              %td 
                = guess.pounds.to_i 
                lbs,
                = guess.ounces.to_i
                oz

      .panel.top
        %h3 Voting has closed!
        %p 
          The day approaches, and we've closed the pool.
          We'll update the site again once we have a winner!

        %h3 What are the rules?
        %ul
          %li Each day that your guess is off by is one point.
          %li Each ounce that your guess is off by is one point.
          %li The guesser with the lowest points gets the sweet, sweet cash.
          %li Winner takes ALL! (insert dramatic music here)



      .previous-guessers.panel
        Got questions or problems?  Did I do something silly and make a busted website?  Email me!
        %br
        jacob (dot) dunphy (at) gmail.com
    
